# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/
climate_health_bangladesh

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore notes
notes.md

# Ignore DS store
.DS_store

# Do not ignore the dependencies file
# environment.yml
